services:
  pg:
    container_name: pg
    image: postgres:17.0
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./init/pg/up:/docker-entrypoint-initdb.d
  log-service:
    container_name: log-service
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${SERVICE_PORT}:8080"
    depends_on:
      - pg