services:
  pg:
    container_name: pg
    image: postgres:17.0
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./migrations/pg/up:/docker-entrypoint-initdb.d

  clickhouse:
    container_name: clickhouse-server
    image: clickhouse/clickhouse-server:25.10
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
      memlock:
        soft: -1
        hard: -1
    ports:
      - "8123:8123"
      - "9000:9000"
    env_file:
      - .env
    volumes:
      - ./migrations/clickhouse/up:/docker-entrypoint-initdb.d
      - clickhouse-data:/var/lib/clickhouse

  log-service:
    container_name: log-service
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      - pg
      - clickhouse
    
volumes:
  clickhouse-data: